build
tmp
*.class
*.pyc
*.pyo

.settings/com.appcelerator.titanium.core.prefs

.DS_Store

build.log
build
.DS_Store

Resources/.DS_Store

Resources/images/.DS_Store

backend/app/.buildignore
backend/.idea
backend/upload